.d-flex{
  display: flex;
}
.jc-sb{
  justify-content: space-between;
}
.jc-sa{
  justify-content: space-around;
}
.jc-c{
  justify-content: center;
}
.ai-c{
  align-items: center;
}
.jc-fe{
  justify-content: flex-end;
}
.fd-c{
  flex-direction:column;
}
.ai-e{
  align-items: flex-end;
}
@include pad{
  .d-flex-md{
    display: flex;
  }
}
@include phone{
  .ai-s-sm{
    align-items: flex-start;
  }
}