.d-b{
  display: block;
}
//隱藏
.d-none{
  display: none;
}
@include phone{
  .d-none-sm{
    display: none;
  }
}
//邊框
.border{
  border: 1px solid black;
}
.border-bottom-0{
  border: 1px solid black;
  border-bottom: 0px;
}
.border-left{
  border-left: 8px solid $primary;
  padding-left: 16px;
}

.border-radius{
  border-radius: 4px;
}
@include phone{
  .d-b-sm{
    display: block !important;
  }
}