@for $i from 0 through 35 {
  .mt-#{$i}{
    margin-top: $i*4px;
  }
  .mb-#{$i}{
    margin-bottom: $i*4px;
  }
  .my-#{$i}{
    margin-top: $i*4px;
    margin-bottom: $i*4px;
  }
  .mr-#{$i}{
    margin-right: $i*4px;
  }
  .ml-#{$i}{
    margin-left: $i*4px;
  }
  @include pad{
    .mt-md-#{$i}{
      margin-top: $i*4px !important;
    }
    .mb-md-#{$i}{
      margin-bottom: $i*4px !important;
    }
    .my-md-#{$i}{
      margin-top: $i*4px !important;
      margin-bottom: $i*4px !important;
    }
    .mr-md-#{$i}{
      margin-right: $i*4px;
    }
    .ml-md-#{$i}{
      margin-left: $i*4px;
    }
  }
  @include phone{
    .mt-sm-#{$i}{
      margin-top: $i*4px !important;
    }
    .mb-sm-#{$i}{
      margin-bottom: $i*4px !important;
    }
    .my-sm-#{$i}{
      margin-top: $i*4px !important;
      margin-bottom: $i*4px !important;
    }
    .mr-sm-#{$i}{
      margin-right: $i*4px !important;
    }
    .ml-sm-#{$i}{
      margin-left: $i*4px !important;
    }
  }
}

@for $i from 0 through 35 {
  .pt-#{$i}{
    padding-top: $i*4px;
  }
  .pb-#{$i}{
    padding-bottom: $i*4px;
  }
  .py-#{$i}{
    padding-top: $i*4px;
    padding-bottom: $i*4px;
  }
  .pr-#{$i}{
    padding-right: $i*4px;
  }
  .pl-#{$i}{
    padding-left: $i*4px;
  }
  .px-#{$i}{
    padding-right: $i*4px;
    padding-left: $i*4px;
  }
  @include pad{
    .pt-md-#{$i}{
      padding-top: $i*4px !important;
    }
    .pb-md-#{$i}{
      padding-bottom: $i*4px !important;
    }
    .py-md-#{$i}{
      padding-top: $i*4px !important;
      padding-bottom: $i*4px !important;
    }
  }
  @include phone{
    .pt-sm-#{$i}{
      padding-top: $i*4px !important;
    }
    .pb-sm-#{$i}{
      padding-bottom: $i*4px !important;
    }
    .py-sm-#{$i}{
      padding-top: $i*4px !important;
      padding-bottom: $i*4px !important;
    }
  }
}
.mx-auto{
  margin-right: auto;
  margin-left: auto;
}
.ml-auto{
  display: flex;
  flex-direction: row-reverse;
  // background: #000;
}