.btn{
  font-size: 20px;
  color: $white;
}
.btn-primary{
  background: $primary;
  border: 1px solid $primary;
  padding: 6px 12px;
  &:focus{
    background: $dark;
  }
}
.btn-black{
  padding: 12px;
  background: black;
  &:focus{
    background: $dark;
  }
}