.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 636px;
  margin: 0 auto;
  @include pad {
    width: 576px;
  }
  @include phone {
    width: 348px;
  }
}
.from-input {
  height: 36px;
  background: $light;
  margin-top: 8px;
  margin-bottom: 16px;
}
